@model IEnumerable<PinGames.Models.GameLibraryModel>
<h1>Library</h1>
<div>
    @{ var gameLibrary = ViewData["gameLibrary"] as List<GameLibraryModel>;}
    <form>
        <input type="text" placeholder="Search" />
        <button type="submit" class="btn-sm btn btn-dark">Confirm</button>
    </form>
    <table class="table">
        <tr class="">
            <td><h5>Cover</h5></td>
            <td><h5>Name</h5></td>
            <td><h5>Genre</h5></td>
            <td><h5>About</h5></td>
            <td></td>
        </tr>

        @foreach (var item in gameLibrary)
        {
            <tr>
                <td><img src="~/img/Game/@item.GameImg" class="w-50 h-50"> </td>
                <td>@item.GameName</td>
                <td>@item.GenreName</td>
                <td>@item.GameAbout.Substring(0, 200)</td>
                @if (Context.Session.GetString("LoginSession") != null)
                {
                    <td><button class="btn btn-dark" asp-controller="Library" asp-action="">Add</button></td>
                }
            </tr>
        }

    </table>
</div>