@model PinGames.Models.UserLoginModel
<div class="align-content-center">
    <div class="align-bottom">
        <form method="post">
            <p><input name="login" type="text" placeholder="Login" /></p>
            <p><input name="password" type="password" placeholder="Password" /></p>
            <p><input id="rememberLogin" name="rememberLogin" type="checkbox" value="true" />Remember login</p>
            <p>
                <input type="submit" value="Login" class="btn btn-primary btn-dark p-2" asp-area="" asp-action="Login" asp-controller="Login" />
                <input type="button" value="Register" class="btn btn-secondary btn-light p-2" onclick="window.location.href = '@Url.Action("RegisterAction","Home")';" />
            </p>
            <p>
                <a href="">Login Problem</a>
            </p>
        </form>
    </div>
</div>