@model UserAccountModel

<div class="text-center">
    <h1>LoginProblem</h1>
    <p>Please write your email below.</p>
    <form method="post" enctype="multipart/form-data">
        <input type="email" name="email" placeholder="Email"/>
        <input type="submit" />
    </form>
</div>