@using PinGames.Data
@model PinGames.Models.UserAccountModel

@{
    ViewData["Title"] = "AddGameToDatabase";
}

<div>
    <form>
        <input id="name" type="text" placeholder="Game Name">
        <input id="genre" type="dropdown" placeholder="Game Name">
    </form>
</div>