@model  PasswordChangeModel
@{ 
    ViewData["Title"] = "Change Password";
}

<div class="text-center">
    <h1>Change Password</h1>
    <form method="post" enctype="multipart/form-data">
        <h5>Old Password  <input id="oldPassowrd" name="oldPassword" type="password" /></h5>
        <h5>New Password  <input id="newPassword" name="newPassword" type="password" /></h5>
        <h5>Repeat Password   <input id="reNewPassword" name="rePassword" type="password" /></h5>
        <input type="submit" />
    </form>
</div>