@using PinGames.Data
@model PinGames.Models.UserAccountModel

@{
    ViewData["Title"] = "Profile";
}

<div>
    @if(Model != null)
    {
        <p>@Model.UserName</p>
        <p>@Model.Libraries</p>
    }
</div>